aarch64
x86_64
appimageupdate
audacity
avidemuxlinux
bitwarden
chiaki
deskreen
digikam
edex
edgetx
etcher
godot
greenlight
hugin
kdenlive
libreoffice
make_links
make_links
mkvtoolnix
moonlight
mqtt
nextcloud
rpcs3
scrcpy
scribus
ultimaker
vokoscreen
webcamoid
xlights
