aarch64
x86_64
FPVFreerider_Recharged
appimageupdate
audacity
avidemuxlinux
bitwarden
chiaki
deskreen
digikam
edex
edgetx
etcher
godot
greenlight
hugin
kdenlive
libreoffice
mkvtoolnix
moonlight
mqtt
nextcloud
obs-cli
rpcs3
scrcpy
scrcpy-server.jar
scribus
ultimaker
vokoscreen
webcamoid
xlights
youtube-dl
yt-dlp
comictagger
appimage/sunshine
amd64
arm64
appimage/losslesscut
