aarch64
x86_64
appimageupdate
audacity
avidemuxlinux
bitwarden
chiaki
deskreen
digikam
edex
edgetx
etcher
godot
greenlight
hugin
kdenlive
libreoffice
make_links
make_links
mkvtoolnix
moonlight
mqtt
nextcloud
rpcs3
scrcpy
scribus
ultimaker
vokoscreen
webcamoid
xlights
bat
btop
chromedriver
cxxmatrix
delta
dust
fx
gphotos-uploader-cli
helm
k9s
kompose
kubeaudit
lazydocker
lazygit
make_links
nvim
obs-cli
py-spy
scrcpy.bin
stern
terminal-parrot
tiv
viu
x11spice
yt-dlp
youtube-dl
FPVFreerider_Recharged
scrcpy-server.jar
